@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;900&display=swap');

*{
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
    display:flexbox;
    flex-direction: column;
    align-items: center;
    
}

body{
    background-color: black;
    color: white;
}

.banner {
    background-image: url("/assets/images/banner.png");
    background-color: rgb(7, 39, 49);
    box-shadow: inset 0 0 150px 80px rgb(0, 0, 0);
}

.banner h1 {
    font-size: 40px;
    font-weight: 900;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner img{
    background-color: rgb(6, 31, 39);
    border-radius: 90%;
}



.banner .banner-content{
    font-size: 20px;
    justify-content: center;
    width: 800px;
    margin: auto;
    padding: 80px;
    text-align: center;
    height: 600px;
}

.banner-content button {
    color: #31A8DD;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 15px;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    border-radius: 30px;
}

hr {
    border-color: #369BCA;
}

#course-content {
    font-size: 16px;
    justify-content: center;
    width: 800px;
    margin: auto;
    padding: 80px;
    text-align: center;
    height: 550px;
}


main h2{
    font-size: 2rem;
    font-weight: 500;
    color: #33A8DB;
}
.modules-list .module {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border: 1px solid #33A8DB;
    background-color: rgb(48, 48, 48);
    box-shadow: inset 0 0 12px 0px rgb(0, 0, 0);
    border-radius: 30px;
    margin: 20px;
    width: auto;
    height: 50px;
}

.modules-list .module span {
   color: #33A8DB;
   margin-right: 7px;
}


#transform-world {
    background-image: url("/assets/images/woman-code.png");
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
    height: 560px;
}


#transform-world p {
    text-transform: lowercase;
    font-size: 2.5rem;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
    font-weight: 600;
}


#professional-challenges {
    font-size: 16px;
    justify-content: center;
    width: 800px;
    margin: auto;
    padding: 80px;
    text-align: center;
    height:800px;
}

#professional-challenges h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
}

footer {
    font-size: 16px;
    justify-content: center;
    width: auto;
    margin: auto;
    padding: 40px;
    text-align: center;
    height: auto;
    background: -webkit-linear-gradient(#000000, #33a9db49);
}

footer a{
    text-decoration: none;
    color: #33A8DB;
    font-weight: 500;
}